body{
 /*  background-image: url('https://s3.amazonaws.com/assets.mshanken.com/wso/static/promos/NYWE-HomePage-Background.jpg'); */
}
p{
  font-family: Arial;
  font-size: 17px;
}
#wrapper{
  background-color: #fff;
  border:solid 10px #d9c05b;
  padding: 20px;
  max-width: 890px;
  margin: 30px auto 30px auto;
  /* box-shadow: 0 0 7px 3px #4b4b4b; */
}
#nav{
  margin-top: 20px;
  margin-bottom: 20px;
  border:solid 5px #d9c05b;
}
#nav a:hover {
color: #ffffff;
background-color: #d9c05b;
}
#nav a.btn-default {
  color: #ffffff;
  padding: 15px 0;
  font-weight: bold;
  font-size: 16px;
}
#nav .btn-default {
  background-color: #3d6385;
}
#head_text{
  font-size: 35px;
  font-weight: bold;
  font-family: Georgia;
  color: #3e6386;
}
.hometext{
  font-family: Arial;
  font-size: 17px;
  margin-top: 20px;
}
#regi{
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  text-transform:uppercase;
  font-family: Georgia;
}
.home_list{
  margin-bottom: 10px;
  color:#ffffff;
}
.order{
  font-size: 20px;
}
.large_text{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
}
.program_text{
  font-family: Arial;
  font-size: 17px;
  margin-top: 20px;
}
.events{
  font-family: Arial;
  font-size: 17px;
  color: #340254;
  text-transform: uppercase;
}
.foot_project{
  font-size: 11px;
  margin-top: 5px;
  margin-left: 8px;
  font-style: italic;
}
.dates{
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family:Myriad Pro;
}
#saturday{
  margin-top: 38px;
}
#october{
  margin-top: 25px;
}
.morning{
  font-size: 14px;
  font-weight: bold;
  color: #b98223;
  margin: 0px 7px;
}
.e_ticket{
  margin-left: 55px;
}
.text{
  font-family: Arial;
}
.wineries{
  margin-top: 5px;
  font-weight: bold;
}
.agenda{
  color:#3e6386;
  margin-top: 30px;
  margin-left: 7px;
  font-size: 35px;
  font-family: Georgia;
  font-weight:bold;
}
.date{
  font-size: 17px;
  font-weight: bold;
  color: #3e6386;
  margin: 0px 7px;
  text-decoration: underline;
  font-family:Georgia;
}
.morning{
	font-size: 17px;
	font-family: Arial;
	color:#32004b;
	margin:20px 7px;
}
.time_list{
	padding-left: 22px;
	margin:0;
  font-size: 16px;
}
.time{
  font-weight: bold;
  margin-bottom: 0px;
  margin: 0px 7px;
}
.times{
  font-size: 16px;
  font-weight: lighter;
  margin-left: 15px;
  margin-right: 10px;
  margin-top:50px;
}
.hotel{
  font-size: 33px;
  font-family: Georgia;
  font-weight: bold;
  margin-left: 5px;
  color: #3e6386;
}
.attendees{
  font-family: Arial;
  font-size: 18px;
  margin-left: 6px;
}
#contact{
  color: #b98223;
  font-size: 30px;
  font-family: Arial;
}
#marriott_row{
  margin-top: 20px;
}
#info{
  font-size: 17px;
  padding-bottom: 40px;
}
/*
.bio{
	border-bottom: dotted 5px #8d7ca3;
}
*/
.headline{
	/* float: left; */
	margin-bottom: 0;
	text-transform: uppercase;
	font-size:16px;
}
.winelist{
	font-size: 14px;
}
#description{
	margin-left: 121px;
}
.mini_des{
	margin-bottom: 30px;
}
.destiny{
	margin-left: 93px;
}
#second-list{
	margin-left: 70px;
}
#middle_image{
	margin-right: 0;
	margin-left: 0;
}
#lastbio{
	padding-bottom: 45px;
}

.list{
	font-size: 16px;
	font-family: Arial;
}
#bruno{
	padding-bottom: 25px;
}
#louis{
	padding-bottom: 20px;
}
#olivier{
	margin-bottom: 50px;
}
.top_wines{
	padding-left: 10px;
}
#sir{
	margin-bottom: 30px;
	margin-left: 10px;
}
#catena{
	margin-bottom: 60px;
}
#prats{
	padding-bottom: 37px;
}
#jean{
	margin-bottom: 82px;
}
#giuseppe{
	margin-bottom: 12px;
}

#helen{
	margin-bottom: 32px;
}
.mini_bio{
	margin-left: 109px;
	font-size: 15px;
}
.afternoon_list{
	padding-left: 8px;
	margin: 0;
}
.head{
	font-size: 75px;
	text-align: center;
	font-family: Times New Roman;
	line-height: 1.0em;
	color: #3e6386;
	margin-bottom: 20px;
}
#cornell{
	margin-top:15px;
}
.benefits{
	font-size: 17px;
	font-weight: bold;
	color: #3e6386;
	margin: 10px 0px;
	text-decoration: underline;
}
.foundation_list{
	margin-top:10px;
	font-family: Georgia;
	font-size:19px;
}
.last_text{
	text-align: center;
}
#image-space{
	margin-bottom:20px;
}
#pablo{
	 margin-left: 120px;
}
#home-page-board{
	background-color:#52568d;
	border:solid 4px #dbbf5b;
	max-width: 370px;
	border-radius: 1em;
}
.vertical-border{
	background-image: url('https://s3.amazonaws.com/assets.mshanken.com/wso/static/promos/NYWE14-ProgramPage_v4-middleborder.jpg');
	background-position: right;
	background-repeat: repeat-y;
}
@media only screen and (max-width: 767px){
    .vertical-border{
        background-image:none;
    }
}
@media (max-width: 480px){ 
	.head{ 
	 	font-size: 33px;
		text-align: center;
		font-family: Times New Roman;
		line-height: 1.0em;
		color: #32004b;
 	}
 }
 @media only screen and (max-width: 960px){
    .vertical-border{
        background-image:none;
    }
    #helen{
        margin-bottom: 45px;
    }
    #aurelio{
        margin-bottom: 70px;
    }
    #fred{
        margin-bottom: 50px;
    }
    #tor{
        margin-bottom: 50px;
    }
    @media only screen and (max-width: 414px){
    #nav{
        margin-top: 10px;
    	margin-bottom: 20px;
    }
    #nav a.btn-default {
	    color: #ffffff;
	    padding: 8px 0;
	    font-weight: bold;
	    font-size: 12px;
		active background-color:#6e8055;
	}
	@media only screen and (max-width: 375px){
    #nav{
        margin-top: 10px;
    	margin-bottom: 20px;
    }
    #nav a.btn-default {
	    color: #ffffff;
	    padding: 8px 0;
	    font-weight: bold;
	    font-size: 12px;
	}
	@media only screen and (max-width: 320px){
    #nav{
        margin-top: 10px;
    	margin-bottom: 20px;
    }
    #nav a.btn-default {
	    color: #ffffff;
	    padding: 8px 0;
	    font-weight: bold;
	    font-size: 12px;
	}

}