.container{
	width:900px;	
}
#wrapper{
	border: solid 5px #b0c243;
	margin-bottom: 0px;
}
.header{
	background-color: #500084;
	border-bottom: solid 5px #b0c243;
}
#head-text{
	color: #ffffff;
	font-family:adobe garamond pro;
	font-size: 60px;
	font-weight: Bold;
	text-align: center;
	margin-top: 0px;
	margin-bottom:0;
	padding-top:20px;
}
#sub-text{
	color: #cdc143;
	font-family:adobe garamond pro;
	font-size: 40px;
	font-weight: Bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}
#date{
	color: #ffffff;
	font-family:adobe garamond pro;
	font-size: 17px;
	font-weight: Bold;
	text-align: center;
	margin-top: 0;
	margin-bottom:0;
	padding-bottom: 8px;
}
#sponsor{
	color: #ffffff;
	font-family: adobe garamond pro;
	font-size: 17px;
	text-align: center;
	margin-top:0px;
	margin-bottom:10px;
}
.celebration{
	font-family: Arial;
	font-weight: Bold;
	font-size: 29px;
	text-align: center;	
	margin-top: 20px;
}
.plain-text{
	color:#000000;
	font-family: Arial;
	font-size: 17px;
	text-align: center;
	margin: 20px;
}
#award{
	margin-top: 26px;
}
#border{
	padding-top: 10px;
}
#celebration{
	color:#000000;
	font-family: Arial;
	font-weight: Bold;
	font-size: 25px;
	text-align: center;	
	margin-top: 20px;
	margin-bottom: 0px;
}
#weekend{
	color:#000000;
	font-family: Arial;
	font-weight: Bold;
	font-size: 25px;
	text-align: center;	
}
#button{
	background-color: #500084;
	padding: 20px 20px;
}
.footer-text{
	color:#000000;
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}
.text{
	color:#000000;
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
}
@media (max-width: 600px) {
	#head-text{
		font-size:20px;
	}
}
@media (max-width: 600px) {
	#sub-text{
		font-size:20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
@media (max-width: 600px) {
	.celebration{
		font-size: 20px;
		text-align: center;	

	}
}
@media (max-width: 600px) {
	#celebration{
		font-size: 17px;
		text-align: center;	

	}
}
@media (max-width: 600px) {
	#button{
		padding: 10px 10px;
	}
}