.main_background{
	background-image: url("http://assets.mshanken.com/promo/images/NYWE_HeadImage.jpg");
	width: 100%;
	height: 100%;
}
.desktopbuttons{
	margin-top: -100px;
}
.buttonfont1{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 250px;
    border-radius: 0;
    margin-left: 285px;
    letter-spacing: 0.1em;
}
.buttonfont2{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 250px;
    border-radius: 0;
    letter-spacing: 0.1em;
}
.buttonfont3{
	color: #ffffff;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 543px;
    border-radius: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.buttonfont4{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 374px;
    border-radius: 0;
    letter-spacing: 0.1em;
    margin-left: 75px;
    font-size: 25px;
}
.section-title1{
	color: #542d83;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5px !important;
	text-transform: uppercase;
}
#nav{
	background-color: #542d83 !important;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.section-title2{
	color: #542d83;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5px !important;
	text-transform: uppercase;
}
.sectiontitle-blurb1{
	color: #3b81c3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 5px !important;
}
.sectiontitle-blurb2{
	color: #3b81c3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.sectiontitle-date{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 0px !important;
}
.borderimg{
	width: 170px !important;
}
.list-title1{
	color: #9e004f;
	font-size: 29px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 15px;
	text-transform: uppercase;
	text-align: center !important;
}
.list-title2{
	color: #9e004f;
	font-size: 29px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 0px;
	text-transform: uppercase;
	text-align: center !important;
}
.event_details{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-align: center !important;
}
.price{
	color: #9e004f;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-align: center !important;
}
.registerbutton1{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 225px;
    border-radius: 0;
    text-transform: uppercase;
    margin-top: 10px;
}
.registerbutton2{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 225px;
    border-radius: 0;
    text-transform: uppercase;
}
.price2{
	color: #9e004f;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-align: center !important;
}
.admission-time{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-align: center !important;
}
.specail-message{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-align: center !important;
}
#space{
	margin-top: 25px;
}
.vip{
	color: #50bdff;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center !important;
	margin-top: 0px !important;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.btn-group .navie{
	color: #ffffff !important;
	background-color: #542d83 !important;
}

#border2{
	border: solid 1px ;
	margin-top: 70px;
	border-color: #789ad0 #a389c0;
}
#full_list{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
}
.specialask{

}
#zeropadding{
	padding: 0;
}
#zeropaddingright{
	padding: 0;
}
#zeropaddingleft{
	padding: 0;
}
.hotel_title{
	color: #ffffff;
	text-align: center;
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 30px;
}
.hotel_details{
	color: #ffffff;
	text-align: center;	
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 30px;
}
.headline{

}
.headline_details{
	text-align: center;
    font-size: 32px;
    color: #3b81c3;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}
.event_days{
	color: #3b81c3;
    text-align: center;
    font-size: 47px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 63px;
    border-bottom: 5px solid #542d83;
    width: 1018px;
}
.top10_wines_headline{
	text-align: center;
    color: #542d83;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	margin-bottom: 0px;
}
.speakers_bestwine{
	text-align: center;
    color: #542d83;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    text-transform: uppercase;
}
.wine{
	text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
}
#lewis{
	margin-top: 8px;
}
#mike{
	margin-top: 11px;
}
.owner{
	color: #3b81c3;
	text-transform: uppercase;
	text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.big_red {
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    color: #9e004f;
    font-weight: 600;
    margin-bottom: 0px;
}
.big_blue{
	margin-top: 0px;
    text-align: center;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    color: #3b81c3;
    font-weight: 600;
}
.big_details{
	text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #542d83;
    text-transform: uppercase;
    margin-top: 15px;
}
.border{
	border: solid 2px #9e004f;
    width: 200px;
    margin-left: 175px;
}
#fulllist_button{
	margin: 0 auto;
	width: 500px;
}
.two_dates{
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.grandtatsting_regions{
	font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.vip_1{
	text-align: center;
    font-size: 30px;
    color: #3b81c3;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    text-transform: uppercase;
    margin-top: 30px;
}
.vip_time{
	text-align: center;
    font-size: 21px;
    color: #9e004f;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
.only_weekend{
	font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.title_section_faq{
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: -32px;
    width: 140px;
    background-color: #ffffff;
    margin-left: 490px;
    font-weight: 600;
    color: #542d83;
}
#faq_space{
	border-top: solid 4px #542d83;
    margin-top: 35px;
}
.question{
	color: #3b81c3;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
	margin-top: 15px;
    margin-bottom: 0px;
}
.answer{
	color: #542d83;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
}
.border_2 {
    border-top: solid 4px #ffffff;
    width: 600px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
}
.border_bottom_2{
	border-top: solid 4px #ffffff;
    width: 600px;
    color: #ffffff;
    margin: 0 auto;
    padding-bottom: 50px;
}
#extra_space{
	margin-top: 30px;
}
#last_two{
	margin: 0 auto;
}
.title_section_faq_2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-top: -25px;
    width: 550px;
    background-color: #ffffff;
    margin-left: 280px;
    font-weight: 600;
    color: #542d83;
    text-transform: uppercase;
}
#faq_space_2{
	border-top: solid 4px #3b81c3;
    margin-top: 35px;
}
.title_section_faq_3{
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-top: -28px;
    width: 235px;
    background-color: #ffffff;
    margin-left: 420px;
    font-weight: 600;
    color: #542d83;
    text-transform: uppercase;
}
.title_section_faq_4{
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-top: -28px;
    width: 362px;
    background-color: #ffffff;
    margin-left: 370px;
    font-weight: 600;
    color: #542d83;
    text-transform: uppercase;
}
.speakers_copy{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #542d85;
	text-align: center;
	margin-bottom: 0px;
}
.colorspan{
	color: #3b81c3;
	font-weight: 400;
	text-transform: uppercase;
}
.sitdown_text{
	font-family: 'Montserrat', sans-serif;
	 text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #9e004f;
    font-weight: 600;
}
.days_text{
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3b81c3;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}
#special_headline{
	width: 800px;
    margin-left: 160px;
    margin-top: -35px;
}
#special_headline_2{
	width: 600px;
    margin-left: 265px;
    margin-top: -35px;
}
.create_extra_space{
	margin-top: 40px;
}
#bio_space{
	padding-bottom: 40px;
    padding-top: 40px;
}
.vintage{
	text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    color: #542d85;
	text-transform: uppercase;
}
.vintage_details{
	text-align: center;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    color: #000000;
}
.sitdown_owners{
	color: #3b81c3;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#add_margin{
	margin-bottom: 40px;
}
.center_bio_img{
	margin: 0 auto;
}
#nav_button{
	font-size: 16px;
    padding: 20px 10px;
    background-color: #542d85;
    color: #ffffff;
}
.wineries_title{
	text-align: center;
    font-size: 45px;
    color: #9e004f;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    text-transform: uppercase;
    margin: 20px 10px
}
.wine_name{
	list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    color: #16224a;
    font-family: 'Montserrat', sans-serif;
}
.winename_shift{
	margin-left: 30px;
}
.app{
	color: #9e004f;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-top: 5px; 
}
.backgroud-test{
	/*background-image: url("http://assets.mshanken.com/promo/images/NYWE17_LP_071417-updateheadt.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
}
#boxinfo{
	margin: 0 auto;
}
#burgundy{
	margin-top: 8px;
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	.headline_details {
	    text-align: center;
	    font-size: 20px;
	    color: #3b81c3;
	    font-weight: 500;
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 0px;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
	#special_headline{
	    margin-top: -16px;
	    margin-left: 0px;
	}
	#special_headline_2{
    	margin-top: -35px;
    	width: 100%;
    	margin-left: 0px;
	}
	.event_days{
		color: #3b81c3;
	    text-align: center;
	    font-size: 26px;
	    font-family: 'Montserrat', sans-serif;
	    text-transform: uppercase;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    margin-left: 0px;
	    border-bottom: 5px solid #542d83;
	    width: 100%;
	}
	.top10_wines_headline{
		text-align: center;
	    color: #542d83;
	    font-size: 27px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 600;
		margin-bottom: 0px;
	}
	.title_section_faq {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 40px;
	    margin-top: -32px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    width: 120px;
	    margin-left: 130px;
	}
	.border {
	    border: solid 2px #9e004f;
	    width: 200px;
	    margin: 0 auto;
	}
	.border_2 {
	    border-top: solid 4px #ffffff;
	    width: 100%;
	    color: #ffffff;
	    margin: 0 auto;
	    margin-top: 50px;
	}
	.border_bottom_2 {
	    border-top: solid 4px #ffffff;
	     width: 100%; 
	    color: #ffffff;
	    margin: 0 auto;
	    padding-bottom: 50px;
	}
	#mobile_fit{
		margin: 0 auto;
	}
	.title_section_faq_2 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -25px;
	    background-color: #ffffff;
	    margin-left: 7px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    width: 96%;
	}
	.title_section_faq_3 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -28px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    margin-left: 70px;
	}
	.title_section_faq_4 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -28px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    margin-left: 11px;
	}
	.big_red {
	    text-align: center;
	    font-size: 30px;
	    margin-top: 10px;
	    font-family: 'Montserrat', sans-serif;
	    color: #9e004f;
	    font-weight: 600;
	    margin-bottom: 0px;
	}
	.grandtatsting_regions {
	    font-size: 20px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 300;
	    text-align: center;
	    margin-top: 5px;
	    margin-left: 20px;
	    margin-right: 20px;
	}
	#extra_space {
    	margin-top: 0px;
	}
	.hotel_title {
	    color: #ffffff;
	    text-align: center;
	    font-size: 25px;
	    font-family: 'Montserrat', sans-serif;
	    padding-top: 30px;
	}
	.hotel_details {
	    color: #ffffff;
	    text-align: center;
	    font-size: 12px;
	    font-family: 'Montserrat', sans-serif;
	    padding-bottom: 30px;
	}
	#border2 {
	    border: none !important;
	    margin-top: 10px;
	}
	#special_headline {
    	margin-top: 20px;
    	margin-left: 0px;
	}
	#zeropadding_mobile{
		padding:0;
	}
	/* wineries page */
	.wineries_title {
	    text-align: center;
	    font-size: 25px;
	    color: #9e004f;
	    font-weight: 600;
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 0px;
	    text-transform: uppercase;
	    margin: 20px 10px;
	}
}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	.headline_details {
	    text-align: center;
	    font-size: 20px;
	    color: #3b81c3;
	    font-weight: 500;
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 0px;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
	#special_headline{
	    margin-top: -16px;
	    margin-left: 0px;
	}
	#special_headline_2{
    	margin-top: -35px;
    	width: 100%;
    	margin-left: 0px;
	}
	.event_days{
		color: #3b81c3;
	    text-align: center;
	    font-size: 26px;
	    font-family: 'Montserrat', sans-serif;
	    text-transform: uppercase;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    margin-left: 0px;
	    border-bottom: 5px solid #542d83;
	    width: 100%;
	}
	.top10_wines_headline{
		text-align: center;
	    color: #542d83;
	    font-size: 27px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 600;
		margin-bottom: 0px;
	}
	.title_section_faq {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 40px;
	    margin-top: -32px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    width: 120px;
	    margin-left: 130px;
	}
	.border {
	    border: solid 2px #9e004f;
	    width: 200px;
	    margin: 0 auto;
	}
	.border_2 {
	    border-top: solid 4px #ffffff;
	    width: 100%;
	    color: #ffffff;
	    margin: 0 auto;
	    margin-top: 50px;
	}
	.border_bottom_2 {
	    border-top: solid 4px #ffffff;
	     width: 100%; 
	    color: #ffffff;
	    margin: 0 auto;
	    padding-bottom: 50px;
	}
	#mobile_fit{
		margin: 0 auto;
	}
	.title_section_faq_2 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -25px;
	    background-color: #ffffff;
	    margin-left: 7px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    width: 96%;
	}
	.title_section_faq_3 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -28px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    margin-left: 70px;
	}
	.title_section_faq_4 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -28px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    margin-left: 11px;
	}
	.big_red {
	    text-align: center;
	    font-size: 30px;
	    margin-top: 10px;
	    font-family: 'Montserrat', sans-serif;
	    color: #9e004f;
	    font-weight: 600;
	    margin-bottom: 0px;
	}
	.grandtatsting_regions {
	    font-size: 20px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 300;
	    text-align: center;
	    margin-top: 5px;
	    margin-left: 20px;
	    margin-right: 20px;
	}
	#extra_space {
    	margin-top: 0px;
	}
	.hotel_title {
	    color: #ffffff;
	    text-align: center;
	    font-size: 25px;
	    font-family: 'Montserrat', sans-serif;
	    padding-top: 30px;
	}
	.hotel_details {
	    color: #ffffff;
	    text-align: center;
	    font-size: 12px;
	    font-family: 'Montserrat', sans-serif;
	    padding-bottom: 30px;
	}
	#border2 {
	    border: none !important;
	    margin-top: 10px;
	}
	#special_headline {
    	margin-top: 20px;
    	margin-left: 0px;
	}
	#zeropadding_mobile{
		padding:0;
	}
	/* wineries page */
	.wineries_title {
	    text-align: center;
	    font-size: 25px;
	    color: #9e004f;
	    font-weight: 600;
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 0px;
	    text-transform: uppercase;
	    margin: 20px 10px;
	}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	.headline_details {
	    text-align: center;
	    font-size: 20px;
	    color: #3b81c3;
	    font-weight: 500;
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 0px;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
	#special_headline{
	    margin-top: -16px;
	    margin-left: 0px;
	}
	#special_headline_2{
    	margin-top: -35px;
    	width: 100%;
    	margin-left: 0px;
	}
	.event_days{
		color: #3b81c3;
	    text-align: center;
	    font-size: 26px;
	    font-family: 'Montserrat', sans-serif;
	    text-transform: uppercase;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    margin-left: 0px;
	    border-bottom: 5px solid #542d83;
	    width: 100%;
	}
	.top10_wines_headline{
		text-align: center;
	    color: #542d83;
	    font-size: 27px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 600;
		margin-bottom: 0px;
	}
	.title_section_faq {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 40px;
	    margin-top: -32px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    width: 120px;
	    margin-left: 130px;
	}
	.border {
	    border: solid 2px #9e004f;
	    width: 200px;
	    margin: 0 auto;
	}
	.border_2 {
	    border-top: solid 4px #ffffff;
	    width: 100%;
	    color: #ffffff;
	    margin: 0 auto;
	    margin-top: 50px;
	}
	.border_bottom_2 {
	    border-top: solid 4px #ffffff;
	     width: 100%; 
	    color: #ffffff;
	    margin: 0 auto;
	    padding-bottom: 50px;
	}
	#mobile_fit{
		margin: 0 auto;
	}
	.title_section_faq_2 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -25px;
	    background-color: #ffffff;
	    margin-left: 7px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    width: 96%;
	}
	.title_section_faq_3 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -28px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    margin-left: 70px;
	}
	.title_section_faq_4 {
	    text-align: center;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 35px;
	    margin-top: -28px;
	    background-color: #ffffff;
	    margin-left: 0px;
	    font-weight: 600;
	    color: #542d83;
	    text-transform: uppercase;
	    margin-left: 11px;
	}
	.big_red {
	    text-align: center;
	    font-size: 30px;
	    margin-top: 10px;
	    font-family: 'Montserrat', sans-serif;
	    color: #9e004f;
	    font-weight: 600;
	    margin-bottom: 0px;
	}
	.grandtatsting_regions {
	    font-size: 20px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 300;
	    text-align: center;
	    margin-top: 5px;
	    margin-left: 20px;
	    margin-right: 20px;
	}
	#extra_space {
    	margin-top: 0px;
	}
	.hotel_title {
	    color: #ffffff;
	    text-align: center;
	    font-size: 25px;
	    font-family: 'Montserrat', sans-serif;
	    padding-top: 30px;
	}
	#border2 {
	    border: none !important;
	    margin-top: 10px;
	}
	#special_headline {
    	margin-top: 20px;
    	margin-left: 0px;
	}
	/* wineries page */
	.wineries_title {
	    text-align: center;
	    font-size: 25px;
	    color: #9e004f;
	    font-weight: 600;
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 0px;
	    text-transform: uppercase;
	    margin: 20px 10px;
	}
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	#nav_button {
    font-size: 14px;
    padding: 20px 10px;
    background-color: #542d85;
    color: #ffffff;
	}
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	#nav_button {
    font-size: 14px;
    padding: 20px 10px;
    background-color: #542d85;
    color: #ffffff;
	}
}