#WS-backgroundimg{
	
}
.desktopbuttons{
	margin-top: -100px;
}
.buttonfont1{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 250px;
    border-radius: 0;
    margin-left: 250px;
	letter-spacing: 0.1em;
}
.buttonfont2{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 250px;
    border-radius: 0;
    letter-spacing: 0.1em;
}
.section-title1{
	color: #542d83;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5px !important;
}
.section-title2{
	color: #542d83;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5px !important;
}
.sectiontitle-blurb1{
	color: #3b81c3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 5px !important;
}
.sectiontitle-blurb2{
	color: #3b81c3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.sectiontitle-date{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 0px !important;
}
.borderimg{
	width: 170px !important;
}
.list-title{
	color: #9e004f;
	font-size: 29px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 15px;
	text-transform: uppercase;
}
ul{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
.price{
	color: #9e004f;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-align: center;
}
.registerbutton1{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 225px;
    border-radius: 0;
    text-transform: uppercase;
    margin-top: 158px;
}
.registerbutton2{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    background-color: #542d83 !important;
    border: 1px solid #ffffff !important;
    width: 225px;
    border-radius: 0;
    text-transform: uppercase;
}
.price2{
	color: #9e004f;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.admission-time{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
.specail-message{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
#space{
	margin-top: 25px;
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.desktopbuttons{
		margin-top: 0px !important;
	}
	.buttonfont1{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size: ;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	    margin-left: 0px !important;
	}
	.buttonfont2{
		color: #ffffff !important;
	    font-family: Myriad Pro, sans-serif !important;
	    font-size:  !important;
	    font-weight: 200 !important;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 100% !important;
	    border-radius: 0 !important;
	}
	#mobile-fullwidth{
		padding-right: 0px !important;
    	padding-left: 0px !important;
	}
	.registerbutton1 {
	    color: #ffffff;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    background-color: #542d83 !important;
	    border: 1px solid #ffffff !important;
	    width: 225px;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-top: 10px;
	}
	.section-title2{
		color: #542d83 !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin-top: 50px !important;
		margin-bottom: 5px !important;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}