
/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Default Theme */
// Reset and dependencies and core default theme
// Globals
@normalize              : 'default';
@print                  : 'default';
@icons                  : 'fontawesome';// (default/bootstrap/fontawesome/fuelux)
@colors                 : 'default';
@scaffolding            : 'default';
@type                   : 'default';
@utilities              : 'bootstrap';  // (default/bootstrap)
@responsive-utilities   : 'bootstrap';  // (default/bootstrap/fuelux)
@grid                   : 'default';    // 
@code                   : 'default';
@tables                 : 'default';
@forms                  : 'default';    // (default/fuelux)
@buttons                : 'default';


// Components
@component-animations   : 'fontawesome';  // (default/bootstrap/fontawesome)
@cards                  : 'bootstrap';  // (default/bootstrap)
@dropdowns              : 'bootstrap';  // (default/bootstrap)
@button-groups          : 'bootstrap';  // (default/bootstrap)
@input-groups           : 'bootstrap';  // (default/bootstrap)
@navs                   : 'bootstrap';  // (default/bootstrap/jasny)
@navbar                 : 'bootstrap';  // (default/bootstrap)
@breadcrumbs            : 'bootstrap';  // (default/bootstrap)
@pagination             : 'bootstrap';  // (default/bootstrap)
@pager                  : 'bootstrap';  // (default/bootstrap)
@labels                 : 'bootstrap';  // (default/bootstrap)
@badges                 : 'bootstrap';  // (default/bootstrap)
@thumbnails             : 'bootstrap';  // (default/bootstrap)
@alerts                 : 'bootstrap';  // (default/bootstrap)
@progress-bars          : 'bootstrap';  // (default/bootstrap)
@media                  : 'bootstrap';  // (default/bootstrap)
@list-group             : 'bootstrap';  // (default/bootstrap)
@panels                 : 'bootstrap';  // (default/bootstrap)
@responsive-embed       : 'bootstrap';  // (default/bootstrap)
@wells                  : 'bootstrap';  // (default/bootstrap)
@close                  : 'bootstrap';  // (default/bootstrap)
@alerts-fixed           : 'jasny';      // (default/jasny)
@button-labels          : 'jasny';      // (default/jasny)
@navmenu                : 'jasny';      // (default/jasny)


// Modules
@modals                 : 'bootstrap';  // (default/bootstrap)
@tooltip                : 'bootstrap';  // (default/bootstrap)
@popovers               : 'bootstrap';  // (default/bootstrap)
@carousel               : 'bootstrap';  // (default/bootstrap)
@fileinput              : 'jasny';      // (default/jasny)
@inputmask              : 'jasny';      // (default/jasny)
@offcanvas              : 'jasny';      // (default/jasny)
@rowlink                : 'jasny';      // (default/jasny)
@transition             : 'jasny';      // (default/jasny)
@wizard                 : 'jasny';      // (default/jasny)
@checkbox               : 'fuelux';     // (default/fuelux)
@radio                  : 'fuelux';     // (default/fuelux)
@combobox               : 'fuelux';     // (default/fuelux)
@datepicker             : 'fuelux';     // (default/fuelux)
@infinite-scroll        : 'fuelux';     // (default/fuelux)
@intelligent-dropdown   : 'fuelux';     // (default/fuelux)
@loader                 : 'fuelux';     // (default/fuelux)
@pillbox                : 'fuelux';     // (default/fuelux)
@placard                : 'fuelux';     // (default/fuelux)
@repeater               : 'fuelux';     // (default/fuelux)
@repeater-list          : 'fuelux';     // (default/fuelux)
@repeater-thumbnail     : 'fuelux';     // (default/fuelux)
@spinbox                : 'fuelux';     // (default/fuelux)
@scheduler              : 'fuelux';     // (default/fuelux)
@search                 : 'fuelux';     // (default/fuelux)
@selectlist             : 'fuelux';     // (default/fuelux)
@picker                 : 'fuelux';     // (default/fuelux)
@tree                   : 'fuelux';     // (default/fuelux)
@wizard                 : 'fuelux';     // (default/fuelux)

// Views
@jumbotron              : 'bootstrap';  // (default/bootstrap)


/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '_sites/default';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */